{% extends 'core/base.html' %}

{% block title %}Accueil{% endblock %}

{% block content %}
<div class="container-fluid mt-4">
    <div class="row">
        <!-- Ruban gauche -->
        <div class="col-md-2 bg-dark text-white vh-100 p-3">
            <h5>Navigation</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2">
                    <a class="nav-link text-white" href="{% url 'college' %}">🏫 Collège</a>
                </li>
                <li class="nav-item mb-2">
                    <a class="nav-link text-white" href="{% url 'lycee' %}">🏫 Lycée</a>
                </li>
                <li class="nav-item mt-4">
                    <a class="btn btn-secondary w-100" href="{% url 'logout' %}">Déconnexion</a>
                </li>
            </ul>
        </div>

        <!-- Contenu principal -->
        <div class="col-md-10">
            <div class="text-center mt-5">
                <h1 class="text-white">Bienvenue sur la Gestion de Scolarité</h1>
                <p class="text-white-50">Sélectionnez une section dans le ruban à gauche pour commencer.</p>
                <img src="https://img.icons8.com/ios-filled/100/ffffff/school-building.png" alt="École" class="mt-3">
            </div>
        </div>
    </div>
</div>
{% endblock %}
